*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: rgba(202, 231, 193, 0.623);
}

.quem-somos h1 {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-style: italic;
  font-family: fantasy;
  color: rgb(15, 85, 85);
  background-color: rgba(185, 196, 207, 0.527);
}

.quem-somos p {
  font-size: 16px;
  padding: 10px;
}

/*.header {
  max-width: 1200px; /*Para definir um tamanho máximo para o site
  padding: 40px 20px; /* Para desgrudar da lateral e do topo (Elementos)
  margin: 0 auto; /*Para quando o site esticar os itens permanecerem ao centro
  display: flex; /* Pra deixar um ítem ao lado do outro
  justify-content: space-between; /*Para separar um ítem do outro
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /*Na hora da quebra os itens ficam alinhados
  background-color: #474444;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3; /*Altura de linha
  padding: 10px 20px;
  text-decoration: none;
  color: #9c9595;
  display: block; /*Para assumir corretamente os valores do Padding
}*/
